body {
    overflow: hidden;
    background-image: url('https://image.slidesdocs.com/responsive-images/background/travel-postcard-illustration-poster-powerpoint-background_d3585837ee__960_540.jpg');
    background-size: 1600px 1000px;
    background-repeat: repeat;
    margin: 0;
    padding: 0;

}

.header {
    overflow: hidden;
    background-color: #444422;
    opacity: 0.8;
    padding: 1px 1px;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; 
  }

  .header a {
    float: left;
    color: white;
    padding: 16px;
    text-decoration: none;
    font-size: 40px;
    line-height: 25px;
    font-family: brush script mt, cursive;
    border-radius: 4px;
  }

  .ul{
    position: absolute;
    top: 15px;
    left: 10px;
  }

  .header a:hover {
    background-color: grey;
    color: black;
  }

  .header a.active {
    background-color: black;
    color: white;
  }

  .header-right {
    float: right;
    margin-top: 10px;
    padding: 5px;

  }

.d {
    overflow: hidden;
   background-color: black;
    padding: 1px 1px;
    width: 1000px;
    height: 600px;
    position: relative;
    top: 100px;
    left: 20%;
    opacity: 0.9;
}

.headline{
    text-align: center;
    color: white;
    font-size: 60px;
    font-family: brush script mt, cursive;
    text-shadow: 2px 2px 4px #dbd39a;
}

.about_uni {
    color: white;
    font-size: 40px;
    text-align: center;
    opacity: 0.8;
}
