body {
  color: red;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
}

body * {
  box-sizing: border-box;
}

.main {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  width: 50vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.left-img {
  width: 50vw;
}

.right {
  width: 50vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 80%;
  height: 630px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 35px 35px;
  background: #dbd39a;
  border-radius: 20px;
  box-shadow: 0px 10px 40px #00000056;
}

.ms{
  position: absolute;
  text-align: center;
  top: 40px;
}

.msg {
  color: red;
  font-family: brush script mt, cursive;
  text-shadow: 2px 2px 4px black;
  font-size: 35px;

}

.card>h1 {
  color: black;
  font-family: brush script mt, cursive;
  text-shadow: 2px 2px 4px grey;
  font-size: 50px;
  font-weight: 1000;
  margin: 0;
}

.textfield {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 30px 0px;
}

.textfield>input {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 25px;
  background-color: black;
  opacity: 0.5;
  color: #f0ffffde;
  font-size: 15pt;
  box-shadow: 0px 10px 40px #00000056;
  outline: none;
  box-sizing: border-box;
}

.textfield>label {
  color: black;
  margin-bottom: 10px;
}

.textfield>input::placeholder {
  color: #f0ffff94;
}

.link {
  color: black;
  font-family: brush script mt, cursive;
  text-shadow: 2px 2px 4px grey;
  font-size: 40px;
}

.btn-login {
  width: 60%;
  padding: 16px 0px;
  margin: 25px;
  border: none;
  border-radius: 8px;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  color: white;
  background: purple;
  cursor: pointer;
  box-shadow: 0px 10px 40px -5px purple;
}

.header {
  overflow: hidden;
  background-color: #dbd39a;
  padding: 1px 1px;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; 
}

.header a {
  float: left;
  color: black;
  padding: 16px;
  text-decoration: none;
  font-size: 40px;
  line-height: 25px;
  font-family: brush script mt, cursive;
  border-radius: 4px;
}

.ul{
  position: absolute;
  top: 15px;
  left: 10px;
}

.header a:hover {
  background-color: grey;
  color: black;
}

.header a.active {
  background-color: black;
  color: white;
}

.header-right {
  float: right;
  margin-top: 10px;
  padding: 5px;

}


@media only screen and (max-width: 950px) {
  .card {
    width: 85%;
  }
}

@media only screen and (max-width: 600px) {
  .main {
    flex-direction: column;
  }

  .left>h1 {
    display: none;
  }

  .left {
    width: 100%;
    height: auto;
  }

  .right {
    width: 100%;
    height: auto;
  }

  .left>img {
    width: 50vw;
  }
}
