body {
    background-color: #dbd39a;
    opacity: 0.8;
    background-position: center center;
}

.header {
    overflow: hidden;
    background-color: #444422;
    padding: 1px 1px;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; 
  }

  .header a {
    float: left;
    color: white;
    padding: 16px;
    text-decoration: none;
    font-size: 40px;
    line-height: 25px;
    font-family: brush script mt, cursive;
    border-radius: 4px;
  }

  .ul{
    position: absolute;
    top: 15px;
    left: 10px;
  }

  .header a:hover {
    background-color: grey;
    color: black;
  }

  .header a.active {
    background-color: black;
    color: white;
  }

  .header-right {
    float: right;
    margin-top: 10px;
    padding: 5px;

  }

.headline {
    color: black;
    font-size: 60px;
    font-family: brush script mt, cursive;
    text-shadow: 2px 2px 4px grey;
    text-align: center;
    top: 20px;
}

.stpage {
    top: 100px;
}

h1 {
    color: black;
    font-size: 30px;
}

.display {
    font-size: 20px;
}

.book-style {
    width: 15%;
}

.hidden {
    display: none;
}

.fn {
    color: black;
    font-size: 50px;
    font-family: brush script mt, cursive;
    text-shadow: 2px 2px 4px grey;
}

.bs {
    color: black;
}


.show-details-checkbox {
    display: none;
}

.title-label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.additional-info {
    display: none;
    margin-top: 10px;
}

.show-details-checkbox:checked ~ .additional-info {
    display: none;
}

.book-title-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.additional-info {
    display: none;
}

.additional-info:target {
    display: block;
}

.s1 {
    position: absolute;
    margin-left: 230px;
    margin-top: 100px;
    background-color: #0096FF;
    width: 100px;
    height: 40px;
    color: black;
    font-size: 25px;
    text-align: center;
}

.s1:hover {
    background-color: black;
    color: white;
}

.add {
    float: right;
    margin-right: 10px;
    margin-top: 15px;
    width: 200px;
    height: 40px;
    font-size: 25px;
    color: white;
    background: purple;
    cursor: pointer;
    box-shadow: 0px 10px 40px -5px purple;
    border-radius: 20px;
    text-align: center;
}

.addbook {
    float: right;
    margin-right: 10px;
    margin-top: 15px;
    width: 280px;
    height: 50px;
    font-size: 30px;
    color: white;
    background: #9E4244;
    cursor: pointer;
    box-shadow: 0px 10px 40px -5px #9E4244;
    text-align: center;
}
