body {
    background-color: black;
    background-position: center center;
}

.header {
    overflow: hidden;
    background-color: #dbd39a;
    padding: 1px 1px;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; 
  }

.header a {
    float: left;
    color: black;
    padding: 16px;
    text-decoration: none;
    font-size: 40px;
    line-height: 25px;
    font-family: brush script mt, cursive;
    border-radius: 4px;
  }

.ul{
    position: absolute;
    top: 15px;
    left: 10px;
  }

.header a:hover {
    background-color: grey;
    color: black;
  }

.header a.active {
    background-color: black;
    color: white;
  }

.header-right {
    float: right;
    margin-top: 10px;
    padding: 5px;

  }

.headline {
    color: white;
    font-size: 60px;
    font-family: brush script mt, cursive;
    text-shadow: 2px 2px 4px #dbd39a;
    text-align: center;
    top: 20px;
}

.stpage {
    position: absolute;
    top: 100px;
    width: 100%;
}

h1 {
    color: white;
    font-size: 30px;
}

.display {
    font-size: 20px;
    color: white;
    position: absolute;
    top: 170px;
}

.book-style {
    width: 15%;
}

.hidden {
    display: none;
}

.book {
    margin-bottom: 20px;
}

.fn {
    position: absolute;
    top: 100px;
    color: white;
    font-size: 50px;
    font-family: brush script mt, cursive;
    text-shadow: 2px 2px 4px grey;
}

.bs {
    color: white;
}


.show-details-checkbox {
    display: none;
}

.title-label {
    display: block;
    align-items: center;
    cursor: pointer;
}

.additional-info {
    color: white;
    display: none;
    margin-top: 10px;
}

.show-details-checkbox:checked + .title-label + .additional-info {
    display: block;
}

.book-title-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.additional-info:target {
    display: block;
}

.s1 {
    background-color: #0096FF;
    width: 100px;
    height: 40px;
    color: black;
    font-size: 25px;
    text-align: center;
}

.s1:hover {
    background-color: black;
    color: white;
}

.buttons {
    position: absolute;
    margin-top: 90px;
    right: 0; 
}

.add {
    float: right;
    margin-right: 15px;
    margin-top: 15px;
    width: 200px;
    height: 50px;
    font-size: 30px;
    color: white;
    background: #53581a;
    cursor: pointer;
    box-shadow: 0px 10px 40px -5px #dbd39a;
    text-align: center;
    text-decoration: none;
}

.addbook {
    float: right;
    margin-right: 10px;
    margin-top: 15px;
    width: 280px;
    height: 50px;
    font-size: 30px;
    color: white;
    background: #53581a;
    cursor: pointer;
    box-shadow: 0px 10px 40px -5px #dbd39a;
    text-align: center;
    text-decoration: none;
}

.edit {
    width: 85px;
    height: 30px;
    background: #53581a;
    font-size: 22px;
    color: white;
}
