<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About_us</title>
    <link rel="stylesheet" href="static/about.css">
</head>
<body>
    <div class="d">
        <p class="headline">
            About Us
        </p>
        <p class="about_uni">
            Uni Library is a platform where you can get acquainted with books of different genres and order books of different genres, being a student, you can register on our website and order books
        </p>
        <a href="{{url_for('main')}}" class="home_link">Home</a>
    </div>
</body>
</html>