<!DOCTYPE html>
<html>
<head>
    <title>Registration</title>
    <link rel="stylesheet" href="static/reg.css">
</head>
<body>
    <div class="header">
        <a class="ul">UniLibrary</a>
        <div class="header-right">
            <a class="active" href="{{url_for('main')}}">Home</a>
            <a href="{{url_for('about')}}">About</a>
            <a href="{{url_for('student_info')}}">Our Students</a>
            <a href="{{url_for('all_books')}}">Our Books</a>
            <a href="login">Login</a>
            <a href="{{url_for('signup')}}">My Account</a>
            <img src="" alt="">
        </div>
    </div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <form method="POST" action="{{ url_for('new_book') }}">
        <div class="main">
            <div class="right">
                <div class="card">
                    <h1>BOOK REGISTRATION</h1>
                    <div class="textfield">
                        <label for="title">Title:</label>
                        <input type="text" name="title" required>
                    </div>
                    <br>
                    <div class="textfield">
                        <label for="year">First Published Year:</label>
                        <input type="text" name="year" required>
                    </div>
                    <br>
                    <div class="textfield">
                        <label for="author">Author:</label>
                        <input type="text" name="author" required>
                    </div>
                    <br>
                    <div class="textfield">
                        <label for="content">Description:</label>
                        <input type="text" name="content" required>
                    </div>
                    <br>
                    <div class="textfield">
                        <label for="isbn">ISBN:</label>
                        <input type="text" name="isbn" required>
                    </div>
                    <div class="textfield">
                        <label for="image">Image Code URL:</label>
                        <input type="text" name="image" required>
                    </div>
                    <br>
                    <div class="textfield">
                        <label for="status">Status:</label>
                        <input type="text" name="status" required>
                    </div>
                    <br>
                    <input type="submit" value="PUBLISH" class="btn-login">
                </div>
            </div>
        </div>
    </form>
</body>
</html>
