<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Students</title>
    <link rel="stylesheet" href="static/our_books.css">
</head>
<body>
    <div class="header">
        <a class="ul">UniLibrary</a>
        <div class="header-right">
            <a href="{{url_for('main')}}">Home</a>
            <a href="{{url_for('about')}}">About</a>
            <a class="active" href="{{url_for('all_books')}}">Our Books</a>
            <a href="login">Login</a>
            {% if session.get('logged_in') %}
                <a href="{{ url_for('display') }}">My Page</a>
            {% endif %}
        </div>
    </div>
    <div class="stpage">
        {% if first_name %}
            <div class="header">
                <a class="ul">My Library</a>
                <div class="header-right">
                    <a href="{{url_for('main')}}">Home</a>
                    <a href="{{url_for('about')}}">About</a>
                    <a href="{{url_for('all_books')}}">Our Books</a>
                    <a href="login">Login</a>
                    <a class="active" href="login">My Page</a>
                </div>
            </div>
            </div>
            <span class="fn">Student: {{ user.first_name }}</span>
            <div class="buttons">
                <a href="{{ url_for('logout') }}" class="add">Log Out</a>
                <a href="{{ url_for('all_books') }}" class="add">Add a Book</a>
                <a href="{{ url_for('new_book') }}" class="addbook">Book Registration</a>
            </div>
            <div class='display'>
                <form method="POST" action="{{ url_for('edit', id=user.id) }}">
                    <p>Name: {{ user.first_name }}</p>
                    <p>Last Name: {{ user.last_name }}</p>
                    <p>Email: {{ user.email }}</p>
                    <p>Code: {{ user.code }}</p>
                    <p>Password: {{ user.password }}</p>
                    <input type="submit" value="Edit" class="edit">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <p class="msg">{{ message }}!</p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </form>
            </div>
        {% endif %}
        <div class="bkont">
        {% if not first_name %}
            <p class="headline">
                UniLibrary Books
            </p>
        {% endif %}
        <form method="POST" action="{{ url_for('all_books') }}">
            <div class="bs">
                {% for book in books %}
                    <div class="book">
                        <label class="title-label">
                            {% if book.image %}
                                <img src="{{ book.image }}" class="book-style">
                            {% else %}
                                <p>No image available</p>
                            {% endif %}
                            <input type="checkbox" class="show-details-checkbox">
                            <a href="#book-{{ loop.index }}" class="book-title-link">
                                <h1>{{ book.title }}</h1>
                            </a>
        </form>
        <form method="POST" action="{{ url_for('borrow_book', book_id=book.id) }}">
                        <input type="hidden" name="book_id" value="{{ book.id }}">
                        </label>
                        <div class="additional-info" id="book-{{ loop.index }}">
                            <h2>Author: {{ book.author }}</h2>
                            <h3>ISBN: {{ book.isbn }}</h3>
                            <h3>Year: {{ book.year }}</h3>
                            <h3>Content: {{ book.content }}</h3>
                        </div>
                    </div>
                    <div>
                        <input type="submit" value="Borrow" class="s1">
                    </div>
                {% endfor %}
            </div>
        </form>
        </div>
    </div>
</body>
</html>
