<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Students</title>
    <link rel="stylesheet" href="static/our_students.css">
</head>
<body>
        <div class="header">
            <a class="ul">UniLibrary</a>
            <div class="header-right">
                <a href="{{url_for('main')}}">Home</a>
                <a href="{{url_for('about')}}">About</a>
                <a class="active" href="{{url_for('student_info')}}">Our Students</a>
                <a href="{{url_for('all_books')}}">Our Books</a>
                <a href="login">Login</a>
                <a href="{{url_for('signup')}}">My Account</a>
                <img src="" alt="">
            </div>
        </div>
        <div class=us>
        <p class="headline">
            UniLibrary Students
        </p>
        <div class="display">
            <p class='names'> {{ user.first_name }} {{ user.last_name }}</p>
            <p>Email: {{ user.email }}</p>
        </div>
    </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
        {% endif %}
        {% endwith %}
</body>
</html>
