<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Students</title>
    <link rel="stylesheet" href="static/our_students.css">
</head>
<body>
        <p class="headline">
            UniLibrary Students
        </p>
        <div class="display">
            <p class='names'> {{ user.first_name }} {{ user.last_name }}</p>
            <p>Email: {{ user.email }}</p>
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</body>
</html>
