<!DOCTYPE html>
<html>
<head>
    <title>Signup page</title>
    <link rel="stylesheet" href="static/sign.css">
</head>
<body>
    <div class="header">
        <a class="ul">UniLibrary</a>
        <div class="header-right">
            <a href="{{url_for('main')}}">Home</a>
            <a href="{{url_for('about')}}">About</a>
            <a href="{{url_for('student_info')}}">Our Students</a>
            <a href="{{url_for('all_books')}}">Our Books</a>
            <a href="login">Login</a>
            <a class="active" href="{{url_for('signup')}}">My Account</a>
            <img src="" alt="">
        </div>
    </div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <form method="POST" action="{{ url_for('signup') }}">
        <div class="main">
            <div class="right">
                <div class="card">
                    <h1>SIGNUP</h1>
                    <div class="textfield">
                        <label for="first_name">First_Name:</label>
                        <input type="text" name="first_name" required>
                    </div>
                    <br>
                    <div class="textfield">
                        <label for="last_name">Last_Name:</label>
                        <input type="text" name="last_name" required>
                    </div>
                    <br>
                    <div class="textfield">
                        <label for="code">University Code:</label>
                        <input type="text" name="code" required>
                    </div>
                    <br>
                    <div class="textfield">
                        <label for="email">Email:</label>
                        <input type="text" name="email" required>
                    </div>
                    <br>
                    <div class="textfield">
                        <label for="password">Password:</label>
                        <input type="password" name="password" required>
                    </div>
                    <br>
                    <input type="submit" value="Signup" class="btn-login">
                </div>
            </div>
        </div>
    <p>Already have an account? <a href="{{ url_for('login') }}">Login</a></p>
    </form>
</body>
</html>
